*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    height: 85px;
}

.logo_web_bocket{
    padding-top: 10px;
    margin-left: 60px;
}

.nav{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 35px;
    justify-content: center;
}

.nav span{
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: #118a2d;
}

.nav span .products-select{
    text-decoration: none;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 80px;
}

.products-select:hover{
    color: #118a2d;
}

.contact-us {
    text-align: center;
}

.contact-us button {
    background: linear-gradient(45deg, #2ecc71, #3498db); 
    border: none;
    margin-right: 60px;
    margin-top: 22px;
    padding: 12px 34px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.contact-us button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contact-us button:hover {
    background: linear-gradient(45deg, #3498db, #29b937); 
}

.home .first-div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #13b539, #52ace8);
    padding: 8px;
    color: white;
}

.home .home-second-div {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #ecf2f8, #c2f4c1);
    padding: 8px;
    color: white;
}

.home-second-div-left {
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 60px;
    color: #000;
}

.home-second-div-left h4{
    font-size: 16px;
    font-weight: 350;
    margin-top: 40px;
    margin-bottom: 15px;
    color: #13b539;
    text-shadow: #3af666 1px 1px 10px;
}

.home-second-div-left div{
    font-size: 45px;
    font-weight: 600;
    line-height: 0.999;
    color: #000;
}

.home-second-div-left .div-services {
    color: #13b539;
}

.home-second-div-left p {
    width: 80%;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 1.4;
    font-weight: 100;
    margin-top: 10px;
    color: #838383;
}

.home-second-div-left-know-more {
    display: flex;
}

.home-second-div-left-know-more button{
    background: linear-gradient(45deg, #2ecc71, #3498db); 
    border: none;
    padding: 20px 34px;
    margin-right: 5px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.home-second-div-left-know-more button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.home-second-div-left-know-more button:hover {
    background: linear-gradient(45deg, #3498db, #29b937); 
}


.home-second-div-left-call-us {
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-left: 5px;
}
.home-second-div-left-call-us div{
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 8px;
}

.home-second-div-right {
    margin-right: 50px;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-second-div-right .laptop_bg_img {
    width: 580px;
    max-width: 600px;
    margin-top: 30px;
}

/* .chart1 {
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-right: 200px;
}

.chart2 {
    width: 160px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-right: 60px;
} */

.why-choose-us {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.why-choose-us .why-choose-us-p {
    padding-top: 40px;
    color: #13b539;
    text-shadow: #3af666 3px 3px 10px;
    letter-spacing: 1.2px;
}

.why-choose-us h1 {
    font-size: 35px;
    font-weight: 500;
    color: #000;
    letter-spacing: 1.5px;
    margin-top: 20px;
}

.why-choose-us h5 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 68%;
    letter-spacing: 1.5px;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #838383;
    font-weight: 100;
    margin-top: 10px;
}

.wcu-grid {
    display: flex;
    margin: 40px;
    width: 90%;
    height: 390px;
}

.wcu-grid .wcu-grid-item img {
    width: 60px;
    padding-bottom: 10px;
}
.wcu-grid .wcu-grid-item h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.3px;
}

.wcu-grid .wcu-grid-item {
    flex: 1;
    padding: 40px;
    margin: 8px;
    border-radius: 7px;
    text-align: center;
    border: solid 0.8px #9d9d9d;
    background: #fff;
    transition: background 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
}

.wcu-grid .wcu-grid-item .wcu-p {
    padding-top: 15px;
    letter-spacing: 1.5px;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
    transition: color 0.2s ease-in-out;
}


.wcu-grid .wcu-grid-item:hover {
    background:#24d94e;
    box-shadow: 1px 1px 20px #24d94e;
}

.wcu-grid .wcu-grid-item:hover h3 {
    color: #fcfcfc;
    text-shadow: 1px 1px 20px #097b1b;
}

.wcu-grid .wcu-grid-item:hover p {
    color: #ffffff;
    text-shadow: 2px 2px 20px #fcfcfc;
}

.our-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}

.our-services-p {
    margin: 10px;
    color: #13b539;
    text-shadow: #3af666 3px 3px 10px;
    letter-spacing: 1.2px;
}

.our-services h1 {
    font-size: 35px;
    font-weight: 500;
    color: #000;
    letter-spacing: 1.5px;
    margin-top: 15px;
}

.our-services h5 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 58%;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #838383;
    font-weight: 100;
    margin-top: 10px;
}

.os-second-div {
    display: flex;
}

.os-second-div-left {
    margin: 70px;
}

.os-second-div-left h1 {
    font-size: 30px;
    padding-bottom: 8px;
}

.os-second-div-left hr {
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg,#29b937, #fff);
    border: none;
    margin-bottom: 10px;
}

.os-second-div-left p {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 2;
    font-weight: 100;
    color: #838383;
}

.os-second-div-left img {
    width: 100%;
    margin-top: 20px;
}

.os-second-div-left button {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: solid 2px #29b937;
    background-color: #fff;
    margin-top: 20px;
    color: #29b937;
    font-size: 16px;
}

.os-second-div-left button:hover {
    background-color: #29b937;
    color: #fff;
}

.os-second-div-left button:active {
    background-color: #48acef;
    color: #ffffff;
    border: solid 2px #216c9a;
}

.os-second-div-right img {
    width: 550px;
    margin-right: 60px;
    margin-top: 50px;
}

.os-third-div {
    display: flex;
}

.os-third-div-left img {
    margin-left: 65px;
    border-radius: 10px;
    width: 540px;
    margin-top: 10px;
}

.os-third-div-right {
    margin : 0px 60px;
}

.os-third-div-right h1 {
    font-size: 30px;
    padding-bottom: 8px;
}

.os-third-div-right hr {
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg,#29b937, #fff);
    border: none;
    margin-bottom: 10px;
}

.os-third-div-right p {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 2;
    font-weight: 100;
    color: #838383;
    margin-bottom: 20px;
}

.os-third-div-right-img {
    display: inline;
}

.img-1 img{
    width: 120px;
    padding-right: 10px;
    
}
.img-2 img{
    width: 200px;
    padding-right: 10px;
}
.img-3 img{
    width: 100px;
}

.os-third-div-right button {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: solid 2px #29b937;
    background-color: #fff;
    margin-top: 20px;
    color: #29b937;
    font-size: 16px;
}

.os-third-div-right button:hover {
    background-color: #29b937;
    color: #fff;
}

.os-third-div-right button:active {
    background-color: #48acef;
    color: #ffffff;
    border: solid 2px #216c9a;
}

.third-sec-hr{
    width: 50%;
}

.counter-section {
    display: flex;
    background-image: url('/images/CountSection_bg_image.5beadd93da1ec63e9588.png');
    width: 100%;
    height: 225px;
    padding: 20px;
}
.counter-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
}
.counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.counter-item h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #fff;
    padding-bottom: 20px;
}

.our-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

/* ///////// */

.choice-container {
    display: flex;
    justify-content: center; /* Center the choices horizontally */
    align-items: center; /* Center the choices vertically */
    gap: 20px; /* Space between the choices */
    padding: 20px;
}

.choice-button {
    padding: 10px 20px;
    border: 2px solid #3498db;
    background-color: white;
    color: #3498db;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.choice-button:hover, .choice-button.active {
    background-color: #3498db;
    color: white;
}

/* Optional: Style for the triggered content */
.content-area {
    text-align: center;
    padding: 20px;
}
.hidden{
    display: none;
}